css styles
main.content.column-page {
  max-width: 100% !important;
}

#quarto-document-content {
  max-width: 100% !important;
}

.tableauPlaceholder {

  width: 120vw !important;
  margin-left: calc(-50vw + 50%);
}


/* .tableauPlaceholder {
  width: 120vw !important;
  margin-left: calc(-50vw + 50%);
 
} */
